/*
  Built Mobile First: All Generic sizing and layouts are placed in main part of CSS. 
  All sizing and layout changes specific to screen sizes is down in media-query area.
  All color based things are seperate to allow for tweaking later out.
*/

/**********************************
GENERAL
***********************************/


/**********************************
NAVIGATION 
***********************************/



/**********************************
HEADER
***********************************/


/**********************************
MAIN CONTENT
***********************************/


/**********************************
FOOTER - Layout and Sizing
***********************************/


/**********************************
PAGE: _______
***********************************/



/**********************************
FONTS
***********************************/



/**********************************
COLORS and BACKGROUNDS
Color 1:
Color 1:
Color 1:
Color 1:
Color 1:
***********************************/

article{
    background:#FF5970;
}

footer{
    background:#FF5970;
}

.jumbotron{
  background: url('http://i1379.photobucket.com/albums/ah142/Krishana246/unnamed_zpsox2rb8k4.jpg') no-repeat center;
  background-size: cover;
}

.portrait_name{
    background: rgba(230, 230, 230, 0.7);
}
body{
background:#2EFFA1;
}